-- TRUNCATE TABLE [dbo].[Company]

SELECT COUNT(*)
FROM [dbo].[Company]


SELECT TOP (1000) [CompanyId]
      ,[CompanyName]
      ,[Description]
      ,[EmailAddress]
      ,[StreetAddress]
      ,[City]
      ,[State]
      ,[PostalCode]
      ,[AnimalName]
      ,[AnimalScientificName]
      ,[AppName]
      ,[BuzzWord]
      ,[CarMake]
      ,[CarModel]
      ,[CarVin]
      ,[CatchPhrase]
      ,[DomainName]
      ,[ContactFirstName]
      ,[ContactLastName]
      ,[JobTitle]
      ,[Language]
      ,[Skill]
      ,[Longitude]
      ,[Latitude]
      ,[Phone]
      ,[Product]
      ,[TimeZone]
      ,[Notes]
FROM [dbo].[Company]